html,
body {
    height: 100%;
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: #fff;
}

.table {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.content {
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-photo {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 3px solid #dfdfdf;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url('../file/chaofeng2.jpg') no-repeat;
    background-size: 250px;
}

.name {
    font-size: 43px;
    text-align: center;
    padding: 10px;
}

.links {
    margin-top: 25px;
    text-align: center;
}

.links .links-text {
    font-size: 23px;
    padding-bottom: 10px;
}

.links a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #2ecc71;
}

.links a:hover {
    color: #2ef071;
}